<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UMPIRE TAX SOLUTIONS</title>
  <link rel="stylesheet" href="css/components.css">
  <link rel="stylesheet" href="css/responsee.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- CUSTOM STYLE -->
  <link rel="stylesheet" href="css/template-style.css">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/newstyles.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700' rel='stylesheet' type='text/css'> 
  <link href="css/ng-grid.css" rel="stylesheet">
  <link href="css/uicss.css" rel="stylesheet">
  <script src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/ng-grid.min.js"></script>
  <script type="text/javascript" src="js/owl.carousel.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>-->
  <script type="text/javascript" src="//cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
  <script type="text/javascript" src="js/lodash.js"></script>
  <script src="js/app.js"></script>
  
      <!--[if lt IE 9]>
	      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
      </head>
      <body  ng-class="userbody"  class="size-1140" ng-app="myapp" ng-right-click>
  
        <!-- TOP NAV WITH LOGO -->
<img ng-hide="shownow" class="loadImg" src="images/animatedEllipse.gif">
        <div  ng-class="processing" ng-show="shownow" ui-view></div>
        
        <div ng-show="shownow"  ng-include="'templates/footer.html'"></div> 
       
<script type="text/ng-template" id="myModalContent.html">

    <span style="color:white;opacity:1; padding:8px;" ng-click="ok();" class="close btnClose">X</span>
        <div class="modal-header btn-info" >
            <h4 class="modal-title">UMPIRE TAX SOLUTONS, LLC<span>Enduring Solutions To The Taxing Problems</span></h4></br>
        </div>
        <div class="modal-body">
            <ul class="mainpopCEstimate">
                <li>
                    <i class="fa fa-check-square-o" style="color:#337ab7;"></i>Get Register on or before February 15, 2016 and avail <span class="btn-info per">10% discount</span> on your Fee payment.
                </li>
                <li>
                    <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Get FREE Tax Estimates
                </li>
                <li>
                    <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Refer Friends – Earn Referral bonus and Exciting Gifts
                </li>
            </ul>
            
        </div>
       
       
    </script>
<div class="cust_pop"  ng-if="userbody==''">
    <img src="img/cust.png" class="cust">
    <div class="pull-left">
    <a ui-sref="main.referalProgram">
        Refer a Friend
    </a>
        <a ui-sref="main.contactUs">
        Contact us
            </a>
    </div>


</div>
       
     </body>
     </html>