<div class="right_content">
    <nav ng-if="home_banner" class="navbar admin-navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">All Clinets</a></li>
        
        
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <ul class="nav navbar-nav navbar-left">
    <li><a href="#">Payments</a></li>
    <li><a href="#"> Referrals  </a></li>
    <li><a href="#">Emails  </a></li>
    <li><a href="#">  Want us to call?</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div ng-if="home_banner" class="col-md-12">
    <h1>Welcome Admin!!!</h1>

</div>
<div ng-if="!home_banner" class="gridStyle" ng-grid="gridOptions"></div>
<div ng-if="home_banner&&userSelected">
 <div class="col-md-12" style="margin-top:20px;">
 <div class="col-md-2 no_padding" ng-click="getCurrentInfo($index)" ng-repeat="item in user_details_tabs"> <button  class="btn btn-primary">{{item.label}}</button></div>
     <!-- <div class="col-md-2 no_padding"> <button  class="btn btn-primary">Basic info</button></div>
     <div class="col-md-2 no_padding"> <button  class="btn btn-primary">Other info</button></div>
     <div class="col-md-2 no_padding"> <button  class="btn btn-primary">Scheduling Time</button></div>
     <div class="col-md-2 no_padding">  <button  class="btn btn-primary">Download documents</button></div>
     <div class="col-md-2 no_padding">    <button  class="btn btn-primary">Upload documents</button></div>
     <div class="col-md-2 no_padding">    <button  class="btn btn-primary">File no</button>  </div> 
     <div class="col-md-2 no_padding">     <button  class="btn btn-primary">Payment info</button></div> -->


 </div>
 
 <div class="col-md-12" ng-if="user_details_tabs[0].show">
     <div class="form-group">
         <p>First Name</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.first_name}}</p>
     </div>
     <div class="form-group">
         <p>Last Name</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.last_name}}</p>
     </div>
     <div class="form-group">
         <p>EMail</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.email}}</p>
     </div>
     <div class="form-group">
         <p>Mobile</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.phone}}</p>
     </div>
     <div class="form-group">
         <p>Address</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.address}}</p>
     </div>
    
      <div class="form-group">
         <p>Alternative Number</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.alterphone}}</p>
     </div>
      <div class="form-group">
         <p>Client Location</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.c_location}}</p>
     </div>
      <div class="form-group">
         <p>Current Employer</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.current_emp}}</p>
     </div>
     <div class="form-group">
         <p>Date Of Birth</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.dob}}</p>
     </div>
     <div class="form-group">
         <p>Occupation</p>
         <p style="color:black;font-weight:bold;">{{PayerInfo.occupation}}</p>
     </div>
 </div>

 <div class="col-md-12" ng-if="user_details_tabs[1].show">
     <div class="col-md-6">
     <div class="form-group">
             <p>First Name</p>
         <p style="color:black;font-weight:bold;">{{SpouseInfo.first_name}}</p>
     </div>
     <div class="form-group">
          <p>Last Name</p>
         <p style="color:black;font-weight:bold;">{{SpouseInfo.last_name}}</p>
     </div>
     <div class="form-group">
          <p>Mobile</p>
         <p style="color:black;font-weight:bold;">{{SpouseInfo.phone}}</p>
     </div>
     <div class="form-group">
         <p>Occupation</p>
         <p style="color:black;font-weight:bold;">{{SpouseInfo.occupation}}</p>
     </div>
     <div class="form-group">
         <p>Date Of Birth</p>
         <p style="color:black;font-weight:bold;">{{SpouseInfo.dob}}</p>
     </div>
     </div>

     <div class="col-md-6" ng-repeat="dependantInfo in dependants">
     <h1>Dependant{{$index+1}}</h1>
     <div class="form-group">
             <p>First Name</p>
         <p style="color:black;font-weight:bold;">{{dependantInfo.first_name}}</p>
     </div>
     <div class="form-group">
          <p>Last Name</p>
         <p style="color:black;font-weight:bold;">{{dependantInfo.last_name}}</p>
     </div>
     <div class="form-group">
          <p>Relationship</p>
         <p style="color:black;font-weight:bold;">{{dependantInfo.occupation}}</p>
     </div>
     <div class="form-group">
         <p>Address</p>
         <p style="color:black;font-weight:bold;">{{dependantInfo.address}}</p>
     </div>
     <div class="form-group">
         <p>E-Mail</p>
         <p style="color:black;font-weight:bold;">{{dependantInfo.mail_id}}</p>
     </div>
     </div>
 </div>

 <div class="col-md-12" ng-if="user_details_tabs[2].show">
     <div class="form-group">
             <p>Scheduled Date</p>
         <p style="color:black;font-weight:bold;">{{scheduleInfo.schedule_dt}}</p>
     </div>
     <div class="form-group">
          <p>Scheduled Time</p>
         <p style="color:black;font-weight:bold;">{{scheduleInfo.schedule_period}}</p>
     </div>
 </div>

<div class="col-md-12" ng-if="user_details_tabs[3].show">
      <div class="form-group">
             <p>w2</p>
         <p style="color:black;font-weight:bold;"><a  href="ustaxfilerapis{{file_path}}/{{uploads.w2pdf}}">Download</a></p>
     </div>
      <div class="form-group">
             <p>healthcard</p>
         <p style="color:black;font-weight:bold;"><a href="ustaxfilerapis{{file_path}}/{{uploads.healthcard}}">Download</a></p>
     </div>
      <div class="form-group">
             <p>hsa</p>
         <p style="color:black;font-weight:bold;"><a href="ustaxfilerapis{{file_path}}/{{uploads.hsa}}">Download</a></p>
     </div>
     <div class="form-group">
             <p>ira</p>
         <p style="color:black;font-weight:bold;"><a href="ustaxfilerapis{{file_path}}/{{uploads.ira}}">Download</a></p>
     </div>
     <div class="form-group">
             <p>1099Int</p>
         <p style="color:black;font-weight:bold;"><a href="ustaxfilerapis{{file_path}}/{{uploads.p1099Int}}">Download</a></p>
     </div>

 </div>


<div class="col-md-12" ng-if="user_details_tabs[4].show">
     <h1>Upload Synopsys</h1>
 </div>

 <div class="col-md-12" ng-if="user_details_tabs[5].show">
     
     <label ng-repeat="role in states">
      <input type="checkbox"  ng-change="changeState($index)" ng-model="role.checked"> {{role.text}}<br>
     </label>
     <button class="btn btn-primary" ng-click="updateStatus()">Push to State</button>
 </div>

 <div class="col-md-12" ng-if="user_details_tabs[6].show">
     <h1>Payment Status & Paid Amount</h1>
 </div>
 <div>
 </div>