<div class="right_content admin">
    <nav ng-if="home_banner" class="navbar admin-navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">All Clinets</a></li>
        
        
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <ul class="nav navbar-nav navbar-left">
    <li><a href="#">Payments</a></li>
    <li><a href="#"> Referrals  </a></li>
    <li><a href="#">Emails  </a></li>
    <li><a href="#">  Want us to call?</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div ng-if="home_banner" class="col-md-12">
    <h1>Welcome Admin!!!</h1>

</div>
<div ng-if="home_banner&&allUsers==''" class="col-md-12"><h1>No Records Found</h1></div>
<div ng-if="home_banner&&allUsers!=''" style="padding:0;" class="col-md-12 gridStyle" ng-grid="gridOptions"></div>
<div ng-if="home_banner&&userSelected">
   <div class="col-md-12" style="margin-top:20px;">
       <div class="col-md-2 no_padding" ng-click="getCurrentInfo($index)" ng-repeat="item in user_details_tabs"> <button  class="btn btn-primary">{{item.label}}</button></div>
     <!-- <div class="col-md-2 no_padding"> <button  class="btn btn-primary">Basic info</button></div>
     <div class="col-md-2 no_padding"> <button  class="btn btn-primary">Other info</button></div>
     <div class="col-md-2 no_padding"> <button  class="btn btn-primary">Scheduling Time</button></div>
     <div class="col-md-2 no_padding">  <button  class="btn btn-primary">Download documents</button></div>
     <div class="col-md-2 no_padding">    <button  class="btn btn-primary">Upload documents</button></div>
     <div class="col-md-2 no_padding">    <button  class="btn btn-primary">File no</button>  </div> 
     <div class="col-md-2 no_padding">     <button  class="btn btn-primary">Payment info</button></div> -->


 </div>
 
 <div class="col-md-12 taxpayer" ng-if="user_details_tabs[0].show">
   <ul class="adminGroup col-md-6">
       <li>First Name</li>
       <li>{{PayerInfo.first_name | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>Last Name</li>
       <li>{{PayerInfo.last_name | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>EMail</li>
       <li>{{PayerInfo.email | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>Mobile</li>
       <li>{{PayerInfo.phone | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>Address</li>
       <li>{{PayerInfo.address | uppercase }}</li>
   </ul>
   
   <ul class="adminGroup col-md-6">
       <li>Alternative Number</li>
       <li>{{PayerInfo.alterphone | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>Client Location</li>
       <li>{{PayerInfo.c_location | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>Current Employer</li>
       <li>{{PayerInfo.current_emp | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>Date Of Birth</li>
       <li>{{PayerInfo.dob | uppercase}}</li>
   </ul>
   <ul class="adminGroup col-md-6">
       <li>Occupation</li>
       <li>{{PayerInfo.occupation | uppercase}}</li>
   </ul>
</div>

<div class="col-md-12 taxpayer" style="overflow:scroll;height:450px;" ng-if="user_details_tabs[1].show">
<h1>Spouse Information</h1>
    <div class="col-md-12">

      <ul class="adminGroup col-md-6">
           <li>First Name</li>
           <li>{{SpouseInfo.first_name | uppercase}}</li>
       </ul>
      <ul class="adminGroup col-md-6">
          <li>Last Name</li>
          <li>{{SpouseInfo.last_name | uppercase }}</li>
      </ul>
     <ul class="adminGroup col-md-6">
          <li>Mobile</li>
          <li>{{SpouseInfo.phone | uppercase }}</li>
      </ul>
     <ul class="adminGroup col-md-6">
       <li>Occupation</li>
       <li>{{SpouseInfo.occupation | uppercase }}</li>
   </ul>
  <ul class="adminGroup col-md-6">
       <li>Date Of Birth</li>
       <li>{{SpouseInfo.dob | uppercase }}</li>
   </ul>
</div>

<div class="col-md-6" ng-repeat="dependantInfo in dependants">
   <h1>Dependant{{$index+1}}</h1>
   <ul class="adminGroup col-md-12">
       <li>First Name</li>
       <li>{{dependantInfo.first_name | uppercase }}</li>
   </ul>
   <ul class="adminGroup col-md-12">
      <li>Last Name</li>
      <li>{{dependantInfo.last_name | uppercase }}</li>
  </ul>
  <ul class="adminGroup col-md-12">
      <li>Relationship</li>
      <li>{{dependantInfo.occupation | uppercase }}</li>
  </ul>
  <ul class="adminGroup col-md-12">
   <li>Address</li>
   <li>{{dependantInfo.address | uppercase }}</li>
</ul>
<ul class="adminGroup col-md-12">
   <li>E-Mail</li>
   <li>{{dependantInfo.mail_id | uppercase}}</li>
</ul>
</div>
</div>

<div class="col-md-12 taxpayer" ng-if="user_details_tabs[2].show">
   <ul class="adminGroup col-md-6">
       <li>Scheduled Date</li>
       <li>{{scheduleInfo.schedule_dt | uppercase }}</li>
  </ul>
   <ul class="adminGroup col-md-6">
      <li>Scheduled Time</li>
      <li>{{scheduleInfo.schedule_period | uppercase }}</li>
 </ul>
</div>

<div class="col-md-12 taxpayer" ng-if="user_details_tabs[3].show">
  <ul class="adminGroup col-md-6">
   <li>w2</li>
   <li><a  href="ustaxfilerapis{{file_path}}/{{uploads.w2pdf}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>healthcard</li>
   <li><a href="ustaxfilerapis{{file_path}}/{{uploads.healthcard}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>hsa</li>
   <li><a href="ustaxfilerapis{{file_path}}/{{uploads.hsa}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>ira</li>
   <li><a href="ustaxfilerapis{{file_path}}/{{uploads.ira}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>1099Int</li>
   <li><a href="ustaxfilerapis{{file_path}}/{{uploads.p1099Int}}">Download</a></li>
</ul>

</div>


<div class="col-md-12 taxpayer" ng-if="user_details_tabs[4].show">
  <ul class="adminGroup col-md-6">
    <li class="uploadAdmin">Upload Synopsys</li>
    <li class="uploadAdmin"> <input  type="file" name="fname"  class="form-control" id="email"></li>
    
</ul>
<ul class="adminGroup col-md-6">
    
    <li class="uploadAdmin"><button  type="submit"  class="btn btn-primary" id="email">UPLOAD</li>
</ul>
</div>

<div class="col-md-12 taxpayer" style="overflow:scroll;height:450px;" ng-if="user_details_tabs[5].show">
  <div for="email" class="adminGroup">File Number <label for="email">XXXXXXXXXX</label></div> 
  <div ng-repeat="role in states" class="adminGroup">
      <input type="checkbox"  ng-change="changeState($index)" ng-model="role.checked"> {{role.text}}
  </div>
  <button class="btn btn-primary" ng-click="updateStatus()">Push to State</button>
</div>

<div class="col-md-12" ng-if="user_details_tabs[6].show">
   <h1>Payment Status & Paid Amount</h1>
</div>
<div>
</div>