
      <div id="carousel">

          <div id="owl-demo" class="owl-carousel owl-theme">
              <div class="item">
                  <img src="img/first.jpg" alt="">
                  <div class="line">
                      <div class="text hide-s">
                          <div class="line">
                              <div class="prev-arrow hide-s hide-m">
                                  <i class="icon-chevron_left"></i>
                              </div>
                              <div class="next-arrow hide-s hide-m">
                                  <i class="icon-chevron_right"></i>
                              </div>
                          </div>
                          <h2>Welcome umpireTax</h2>
                          <p>Umpire tax solutions, LLC is a firm established with a group of Qualified professionals such as Certified Public Accountants, Enrolled Agents and Chartered Accountants.   </p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <img src="img/bgTop2.jpg" alt="">
                  <div class="line">
                      <div class="text hide-s">
                          <div class="line">
                              <div class="prev-arrow hide-s hide-m">
                                  <i class="icon-chevron_left"></i>
                              </div>
                              <div class="next-arrow hide-s hide-m">
                                  <i class="icon-chevron_right"></i>
                              </div>
                          </div>
                          <h2>Advantages with UTS </h2>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <img src="img/bgTop3.jpg" alt="">
                  <div class="line">
                      <div class="text hide-s">
                          <div class="line">
                              <div class="prev-arrow hide-s hide-m">
                                  <i class="icon-chevron_left"></i>
                              </div>
                              <div class="next-arrow hide-s hide-m">
                                  <i class="icon-chevron_right"></i>
                              </div>
                          </div>
                          <h2>Individual Services</h2>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <img src="img/bgTop4.jpg" alt="">
                  <div class="line">
                      <div class="text hide-s">
                          <div class="line">
                              <div class="prev-arrow hide-s hide-m">
                                  <i class="icon-chevron_left"></i>
                              </div>
                              <div class="next-arrow hide-s hide-m">
                                  <i class="icon-chevron_right"></i>
                              </div>
                          </div>
                          <h2>Tax Center</h2>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <img src="img/bgTop5.jpg" alt="">
                  <div class="line">
                      <div class="text hide-s">
                          <div class="line">
                              <div class="prev-arrow hide-s hide-m">
                                  <i class="icon-chevron_left"></i>
                              </div>
                              <div class="next-arrow hide-s hide-m">
                                  <i class="icon-chevron_right"></i>
                              </div>
                          </div>
                          <h2> Carriers</h2>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <img src="img/bgTop6.jpg" alt="">
                  <div class="line">
                      <div class="text hide-s">
                          <div class="line">
                              <div class="prev-arrow hide-s hide-m">
                                  <i class="icon-chevron_left"></i>
                              </div>
                              <div class="next-arrow hide-s hide-m">
                                  <i class="icon-chevron_right"></i>
                              </div>
                          </div>
                          <h2>Contact us</h2>
                          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      