 <div class="headerLine contact_bg">
        
     
       <!--  <h1  class="mar_top">Contact Us</h1>
        <p class="banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit
quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
</p>         -->
        </div>
        
        
        <div class="container">
        <div class="row">
        
         <div class="col-sm-6">
           <div class="col-sm-12">
         <div class="col-sm-6">
         <h4>Address</h4>
      <p>   
<strong>Head Office</strong><br />


1537 Flint Street<br />

Tumon, MP 96911<br />


Phone:670-898-2847<br />

<strong>Email Address:</strong> <a mailto="#">info@domain.com</a>
</p>
</div>
<div class="col-sm-6"><br />
<br />

 <p>   
<strong>Zone#2 Office</strong><br />


1537 Flint Street<br />

Tumon, MP 96911<br />


Phone:670-898-2847<br />

<strong>Email Address:</strong> <a mailto="#">info@domain.com</a>
</p>
</div>
</div><div class="col-sm-12">
<iframe src="https://www.google.com/maps/d/embed?mid=zhOuoJksrR20.kui-3oKbUNd0&hl=en_US" width="100%" height="480"></iframe>

</div>
         
         </div>
         <div class="col-sm-6">
          <h4>Contact Form</h4>
          <div class="form-group">
  <label for="usr">Name *:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="usr">Email *:</label>
  <input type="text" class="form-control" id="usr">
</div>
 <div class="form-group">
  <label for="usr">Phone *:</label>
  <input type="text" class="form-control" id="usr">
</div>
 <div class="form-group">
  <label for="usr">Company Name *:</label>
  <input type="text" class="form-control" id="usr">
</div>
 <div class="form-group">
  <label for="usr">Subject *:</label>
  <input type="text" class="form-control" id="usr">
</div>

<div class="form-group">
                            <label>Message *</label>
                            <textarea rows="8" class="form-control" required="required" id="message" name="message"></textarea>
                        </div>
                        <div class="form-group">
                            <button required="required" class="btn btn-primary btn-lg" name="submit" type="submit">Submit Message</button>
                        </div>



         </div>
        
        
        
        </div>
        </div>
        
        