<div class="headerLine contact_bg"></div>


<div class="container">
    <div class="row">
        <h3 style="text-align:center;"><span class="hedd">Contact Us</span></h3><br>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <div class="col-sm-10">
                    <h4 style="color: #16b1df;font-size: 20px;">Umpire Tax Solutions,LLC</h4>
                    <address>
                        <p><strong>Corporate Office:</strong> <br>9500 Grove Crest Ln<br>
                         Charlotte NC</p>
                        <p><strong>India Office:</strong> <br> Singapore township IT hub Pocharam <br>
                         Hyderabad,&nbsp;Telangana</p>
                         
                        <p><strong>E-mail:</strong> Hello@umpiretaxsolutions.com</p>
                    </address>
                </div>

            </div>
            <div class="col-sm-12">
                <iframe src="https://www.google.com/maps/d/embed?mid=zhOuoJksrR20.kui-3oKbUNd0&hl=en_US" width="100%"
                        height="480"></iframe>

            </div>

        </div>
        <div class="col-sm-6">
            <h4 style="color: #16b1df;font-size: 20px;">Contact Form</h4>

            <div class="form-group">
                <label for="usr">Name *:</label>
                <input type="text" ng-model="contactform.c_name" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="usr">Email *:</label>
                <input type="text" ng-model="contactform.c_email"  class="form-control" id="usr1">
            </div>
            <div class="form-group">
                <label for="usr">Phone *:</label>
                <input type="text" ng-model="contactform.c_phone" class="form-control" id="usr2">
            </div>

           

            <div class="form-group">
                <label>Message *</label>
                <textarea rows="8" class="form-control" ng-model="contactform.c_message" required="required" id="message" name="message"></textarea>
            </div>
            <div class="form-group">
                <button required="required" ng-click="contactusService(contactform)" class="btn btn-primary btn-lg" name="submit" type="submit">Submit
                </button>
            </div>


        </div>


    </div>
</div>

