<div class="right_content">
    <h1>Dependents Info (If any) <span ng-if="editMode&&user.filling_status=='1'" class="btn btn-primay" ng-click="editProfile()">Edit</span></h1>
    <p>Note: If the Dependent doesn’t hold either SSN/ITIN please upload  Passport Scan copy</p>
    <form ng-class="{'feel_form':editMode}">
    <div ng-repeat="item in dependants" class="allDependants"> 
    <h1>Dependent-{{$index+1}}<button ng-if="$index!=0;" class='btn btn-danger' ng-click="DeleteDependant(item,$index)">X</button></h1>    
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">First Name:</label>
                    <input type="text" ng-model="item.first_name" class="form-control" id="email">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">Last Name:</label>
                    <input type="text" ng-model="item.last_name" class="form-control" id="email">
                </div>

            </div>


        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <!-- <label for="email">DOB:</label>
                    <input type="text" ng-model="item.dob" class="form-control" id="email"> -->
                    <p class="input-group">
                    <label for="email">DOB:</label>
                  
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="item.dob" is-open="status[$index].opened"  datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                    
                    <span class="input-group-btn" style="top:12px;">
                <button type="button" class="btn btn-default" ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button> 
                </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">Relationship :</label>
                    <select ng-selected="item.occupation==relation" ng-model="item.occupation"  ng-options="relation for relation in relations" class="form-control" name="category">
                        <!-- <option>select</option>
                        <option>Mother </option>
                       <option>Father  </option>
                       <option>Son  </option>
                       <option>Daughter  </option>
                       <option>Other </option> -->

                    </select>
                </div>

            </div>


        </div>


        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">Address:</label>
                    <input type="text" ng-model="item.address" class="form-control" id="email">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="text" ng-model="item.mail_id" class="form-control" id="email">
                </div>
            </div>


        </div>
</div>
<!--ng-if="user.filling_status=='1'"-->
        <div class="col-lg-12" >
<button ng-if="dependants.length<5" style="margin-left:10px;" ng-click="addMore()" class="btn btn-success pull-left" type="submit">Add More Dependants</button>
            <button style="margin-left:10px;" ng-click="UpdateDependants()" class="btn btn-success pull-right" type="submit">SUBMIT</button>
            <button class="btn btn-warning  pull-right" ng-click="reset();" type="reset">EDIT</button>
        </div>
<!-- <p style="text-align: center">Note: Here User  should be able to Update the Basic Info</p> -->


    </form>
</div>