<span class="col-md-2" style="margin-top:25px;">Total Items : {{totalServerItems}}</span>
<ul class="col-md-9 pagination-sm pagination ng-isolate-scope ng-valid ng-dirty ng-valid-parse" total-items="totalServerItems" ng-model="pagingOptions.currentPage" max-size="maxSize" ng-change="getPage()" boundary-links="true" num-pages="numPages">

<li ng-repeat="page in EachPage" ng-class="{active: $index+1 == ActiveIndex}" class="pagination-page ng-scope"><a href="" ng-click="selectPage($index+1, $event)" class="ng-binding">{{$index+1}}</a>
</li>

</ul>

<!-- 

ng-class="{disabled: noPrevious()||ngDisabled}"
<uib-pagination total-items="totalServerItems" ng-model="pagingOptions.currentPage" max-size="maxSize" ng-change="getPage()" class="pagination-sm" boundary-links="true" num-pages="numPages"></uib-pagination>
    <h1>{{totalServerItems}}{{pagingOptions.currentPage}}{{maxSize}}</h1> -->
<!-- <div ng-show="showFooter" class="ngFooterPanel" ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}" style="width: 100%;height: 55px;">
    <div class="ngTotalSelectContainer" >
        <div class="ngFooterTotalItems" ng-class="{'ngNoMultiSelect': !multiSelect}" >
            <span class="ngLabel">{{i18n.ngTotalItemsLabel}} {{maxRows()}}</span>
        </div>
        
    </div>
    <div class="ngPagerContainer" style="float: right; margin-top: 10px;" ng-show="enablePaging" ng-class="{'ngNoMultiSelect': !multiSelect}">
        
        <div style="float:left; margin-right: 10px; line-height:25px;" class="ngPagerControl" style="float: left; min-width: 135px;">
            <button class="ngPagerButton" ng-click="pageBackward()" ng-disabled="cantPageBackward()" title="{{i18n.ngPagerPrevTitle}}"><div class="ngPagerFirstTriangle ngPagerPrevTriangle"></div></button>
            <input class="ngPagerCurrent" min="1" max="{{maxPages()}}" type="number" style="width:50px; height: 24px; margin-top: 1px; padding: 0 4px;" ng-model="pagingOptions.currentPage"/>
            <button class="ngPagerButton" ng-click="pageForward()" ng-disabled="cantPageForward()" title="{{i18n.ngPagerNextTitle}}"><div class="ngPagerLastTriangle ngPagerNextTriangle"></div></button>
           
        </div>
    </div>
</div> -->