<div ng-include="'templates/banner.html'"></div>
<section>
    <!-- CAROUSEL -->
    <!-- FIRST BLOCK -->
    <!-- FEATURES -->
    <div id="features">
        <div class="line animated bounceInDown">
            <div class="margin">
                <h1>Welcome To Umpire Tax Solutions</h1>
                <p class="text-justify">Umpire Tax Solutions, LLC is a firm established with a group of Qualified professionals such as
                    Certified Public Accountants, Enrolled Agents and Chartered Accountants. Umpire Tax Solutions
                    provide outstanding services to the clients because of our Commitment to the five underlying
                    principles of Professionalism, Accuracy, Dedication, Integrity and Responsibility. The qualified
                    professionals of our company hard work experience of 6 years in the fields of International Taxation
                    and Various Financial Services. </p>
            </div>
        </div>
    </div>
    <!-- ABOUT US -->
    <div id="about-us">
        <div class="s-12 m-12 l-6 media-container homeImage">
            <img src="img/about.jpg" alt="" style="min-height:630px;">
        </div>
        <article class="s-12 m-12 l-6">
            <h2>Advantages with UTS.... </h2>
            <p class="head_process text-justify">
                
 HOW TO POSSESS PAYING LESS TAXES BY TAKING THE ELIGIBLE ADVANTAGES????<br>
  UTS will guide you in claiming the benefits which provided by the Federal & State Governments so that it
                will help you to reduce the taxes.
            </p>
            <ul class="about_list">
                <li> IRA (Individual Retirement Arrangement)</li>
                <li> HSA (Health Savings Account)</li>
                <li> Credits <br>
                    <ul class="SUbmenu">
                        <li>Educational Credits</li>
                        <li>Foriegn Tax Credit</li>
                        <li>Earned Income Credit</li>
                        <li>Child Tax Credit</li>
                        <li>Dependant Care Credit</li>
                    </ul>
                </li>
                <li> Home loan Interest Deduction (U.S/Foreign)</li>
                <li> Student loan Interest Deduction (U.S/Foreign)</li>
                <li> Medical Expenses</li>
                <li> Charities</li>
                <li> Free Federal & State Filing Extensions</li>
                <li> Free Tax Estimates</li>
                <li> 100% Guarantee to get the Estimated Refunds</li>

                <a href="#" class="more-btn btn btn-primary" ng-click="referals()"><i class="fa fa-user"></i> Refer a
                    Friend</a>
            </ul>

        </article>
    </div>
    <!-- OUR WORK -->

    <!-- SERVICES -->

    <!-- LATEST NEWS -->

    <!-- CONTACT -->
    <div id="contact">
        <div class="line">
            <h2 class="section-title">Contact Us</h2>
            <div class="margin">
                <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                    <img src="img/contact.jpg" alt="">
                </div>
                <div class="s-12 m-12 l-4 margin-bottom right-align">
                    <h3>Umpire Tax Solutions,LLC</h3>
                    <address>
                        <p><strong>Corporate Office:</strong> <br>9500 Grove Crest Ln<br>
                         Charlotte NC 28262</p>
                        <p><strong>India Office:</strong> <br> 4-7-8/116, <br>Raghavendra Nagar Nacharam<br>
                            Secunderabad ,&nbsp;Telangana 76</p>
                         
                        <p><strong>E-mail:</strong> Hello@umpiretaxsolutions.com</p>
                    </address>
                    <br/>

                    <h3>Social</h3>
                    <p><i class="icon-facebook icon"></i> <a href="#">Facebook</a></p>
                    <p><i class="icon-google_plus icon"></i> <a href="#">Google+</a></p>
                    <p class="margin-bottom"><i class="icon-linked_in icon"></i> <a
                            href="#">LinkedIn</a></p>
                </div>
                <div class="s-12 m-12 l-5">
                    <h3> Contact Form </h3>
                    <uib-alert type="success" ng-if="willcontact" dismiss-on-timeout="5000">We Will Reach You Shortly.
                    </uib-alert>
                    <form class="customform" name="contactus">
                        <div class="s-12">
                            <input name="" ng-model="contactform.c_name" placeholder="Your Name" title="Your name"
                                   type="text"/></div>
                        <div class="s-12">
                            <input name="email" ng-class="{'error':contactus.email.$invalid}" validate-form ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="contactform.c_email" placeholder="Your E-mail" title="Your e-mail"
                                   type="text"/></div>
                        <div class="s-12">
                            <input name="phone" ng-class="{'error':contactus.phone.$invalid}" validate-form ng-pattern="/^[1-9]{1}[0-9]{9}$/" ng-model="contactform.c_phone" placeholder="Your Contact Number"
                                   title="Your Contact Number" type="text"/></div>
                        <div class="s-12"><textarea ng-model="contactform.c_message" placeholder="Your Message" name=""
                                                    rows="5"></textarea></div>
                        <div class="s-12 m-12 l-4">
                            <button ng-click="contactusService(contactus,contactform)" class="color-btn" type="submit">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="col-md-12 clients" style="padding:0;">
        <div class='line'>

            <img src="images/clients.jpg">
        </div>
    </div> -->
    <!-- MAP -->
</section>
<!-- FOOTER -->
