<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Privacy Policy</title>
<link rel="stylesheet" type="text/css" href="../css/terms.css" />
</head>

<body>
<header>
<img src="../images/logo.png" class="termslogo" width="180" />

</header>
<div class="terms_wraper">

<h1>PAYMENT REFUND POLICY, TERMS & CONDITIONS</h1>

<p>1. Whatever the amount which shows in the Tax summary it’s in 

USD.

2. Once the payment has been made, in any circumstances entire 

amount will not be reverted back. 

3. By considering our efforts with that return till date partial 

amount will be given. 

4. If any changes has been incurred in the return and if it leads to 

decrease of refund in that case as per the changes amount will 

be reverted back.

5. If you’re eligible for the Referral bonus, it will be debited to your 

respective bank accounts after April 20 2016, it cannot be 

deducted while making the payment.

6. Above Summary does not include charges of FBAR..</p>


</div>
<footer>
          
        
               <p style="text-align:center;">Copyright 2015, UMPIRE TAX SOLUTIONS</p>
                
        
      
      </footer>

</body>
</html>
