

<div class="headerLine reference">


         
</div>

<div class="container"> <h3 style="text-align:center;"><span class="hedd">Referal Program</span>
<a ng-click="referals()" style="margin-left:8%;"> <button class="btn btn-success pull-right"> Refer a Friend</button></a>
</h3><br />

  <div class="row">

  <div class="col-md-12 animated bounceInLeft" ><i class="fa fa-angle-down right_icon"></i>
      <h4 style="color:#2d7da4;">Referal Program</h4>
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o"></i> Apart from filing the Accurately Tax Filing at the Umpire Tax Solutions, LLC   you can also be awarded 

    with a cash check in the form of Referral Bonus. If you had a Great experience with our Professional 

    service(s) if we would truly appreciate your help in spreading of our Business. We realize that most of 

    you do this out of the kindness of your hearts- and we are faithful to all of you. Refer your friends to 

    avail our Professional services and earn 9.98% referral bonus on each person you refer. You have also 

    chance of winning I phone 6, Dell laptop and Tab if you are among the TOP THREE REFERALS. Request 

    you to be part of our expansion of the business and also the Clients. Get awarded and make your friends 

    feel great of you.

    Note: In order to be a part of Top 3 Referrals at least you should Refer a minimum of 6 people.
    <p>
      Please provide the following details of the Friend whom you wish to Refer.
    </p></li>
       
      </ul>

      

    </div>
     <div class="col-md-12" style="margin-top:20px;"> 
    <h4  style="text-align:left; color:#2d7da4;margin-top:40px;">Top Referals</h4>
     
   
    <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> 

    <img data-src="holder.js/100%x180" alt="100%x180" src="images/iphone.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"> </a>
    <h5>IPHONE 6s</h5>
     </div> 
     <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> <img data-src="holder.js/100%x180" alt="100%x180" src="images/iphone.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"> </a>   <h5>LAPTOP</h5></div> <div class="col-xs-6 col-md-3"> <a href="#" class="thumbnail"> <img data-src="holder.js/100%x180" alt="100%x180" src="images/iphone.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;"> </a>   <h5>CAMARA</h5></div>  </div>
   <!--  <div class="col-md-12 bord_left animated bounceInRight" style="min-height:290px;">
      <h4  style="text-align:left; color:#2d7da4;margin-top:40px;">TOP REFERALS</h4>
     
      <ul class="about_list" style="margin-left:30px;"> 
        <li> <i class="fa fa-check-square-o"></i> XXXXXXXX </li>
        <li><i class="fa fa-check-square-o"></i> XXXXXXXXXX </li>
        <li><i class="fa fa-check-square-o"></i> XXXXXXXXXXX</li>
        
      </ul>

    </div>
  </div> -->



  <p class="col-xs-12" style="padding:10px 15px; text-align:center;"><strong>IN CASE IF CLIENT REFERING A PERSON BY LOGGING INTO HIS ACCOUNT FIRST 3 FILEDS SHOULD BE 

   AUTOMATICALLY FILLED BY CONSIDERING HIS DETAILS WHICH HE FILLED EARLIER WHILE REGISTERING 

   INTO HIS ACCOUNT.</strong>
  </p>

</div>

