

<button type="button" class="btn btn-info top" ng-click="moveTop()"><i class="fa fa-arrow-up"></i></button>
<div class="headerLine servics_bg">



  <!-- <h1 class="mar_top">Our Individual Services</h1>
  <p class="banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit
    quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. </p> -->
</div>
<div class="container">
  <div class="row  animated bounceInLeft">
    <h3 style="text-align:center;">Individual Services</h3>
    <p style="text-align:center;">Our firm provides outstanding services to our clients because of our dedication to the four underlying principles of professionalism, responsiveness, quality and commitment.</p>
    <p class="services_btncls">
     <a  href="#1" ng-click="scrollIt($event,'1')" class="btn btn-primary" > 1040/A/EZ </a> 
     <a href="#2" ng-click="scrollIt($event,'2')" class="btn btn-success">1040-NR/EZ</a>
     <a href="#3" ng-click="scrollIt($event,'3')" class="btn btn-info">1040X</a> 
     <a  href="#4" ng-click="scrollIt($event,'4')" class="btn btn-warning">W-7/ITIN</a>
      <a  href="#5" ng-click="scrollIt($event,'5')" class="btn btn-primary"> W-4 </a>
       <a href="#6" ng-click="scrollIt($event,'6')" class="btn btn-success"> FBAR & FFA </a>
       </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4 class="btn-primary services_hedd" id="1">
      <div class="container">Form 1040/A/EZ, U.S. Individual Income Tax Return</div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Annual income tax return filed by citizens or residents (H1, L1, GREEN CARD HOLDERS) of the United States.</li>
        <li><i class="fa fa-check-square-o" style="color:#337ab7;"></i> The standard Internal Revenue Service (IRS) form that individuals use to file their annual income tax returns The form contains sections that require taxpayers to disclose their financial income status for the year in order to ascertain whether additional taxes are owed or whether the taxpayer is due for a tax refund. 1040 forms need to be filed with the IRS by April 15.</li>
        <li><i class="fa fa-check-square-o" style="color:#337ab7;"></i> Depending upon Filing status AND income from different sources forms will vary.</li>
      </ul>
    </div>
    <h4 class="btn-success services_hedd" id="2">
      <div class="container">1040NR/EZ
        Nonresident Aliens Filing Form 1040-NR for Refund of U.S. Source Income Withheld </div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> Annual income tax return filed by Non-residents i.e., the persons who holds a visa of F,M,J in the United States.</li>
        <p><strong>You may need to file Form 1040NR If you:</strong></p>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> were a nonresident alien engaged in a trade or business in the United States,</li>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> represented a deceased person who would have had to file Form 1040NR, or</li>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> represented an estate or trust that had to file Form 1040NR.</li>
        <p><strong>Who must File</strong></p>
        <a href="https://www.irs.gov/instructions/i1040nr/ch01.html#d0e576" target="_blank">https://www.irs.gov/instructions/i1040nr/ch01.html#d0e576</a>
      </ul>
    </div>
    <h4 class="btn-info services_hedd" id="3">
      <div class="container">1040X </div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> File this form to do the following.</li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> Correct Forms 1040, 1040A, 1040EZ, 1040NR, or 1040NR-EZ.</li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> Make certain elections after the prescribed deadline.</li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> Change amounts previously adjusted by the IRS.</li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> Make a claim for a carryback due to a loss or unused credit</li>
        <p><strong> What is the IRS 1040X Form?</strong></p>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> <strong>OVERVIEW</strong></li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> If you ever discover an error on a tax return, or realize you qualify for deductions or credits you didn't take, or forgot to include some income, you may be able to amend your return by filing a Form 1040X. When you prepare the 1040X, it's not necessary to complete a brand new tax return. Form 1040X only requires that you update the numbers that will change.</li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> <strong> When you can file</strong></li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> <strong> How you can benefit</strong></li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> <strong> Information you need</strong></li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> <strong> Time limitations for filing</strong></li>
        <p>FOR MORE INFO YOU CAN CLICK HERE</p>
        <a href="https://www.irs.gov/Help-&-Resources/Tools-&-FAQs/FAQs-for-Individuals/Frequently-Asked-Tax-Questions-&-Answers/IRS-Procedures/Amended-Returns-&-Form-1040X/Amended-Returns-&-Form-1040X" target="_blank"> https://www.irs.gov/Help-&-Resources/Tools-&-FAQs/FAQs-for-Individuals/Frequently-Asked-Tax-Questions-&-Answers/IRS-Procedures/Amended-Returns-&-Form-1040X/Amended-Returns-&-Form-1040X </a>
        <p>SO IF CL CLIENT CLICK ON THAT IT SHOULD BE REDIRECTED TO IRS LINK</p>
      </ul>
    </div>
    <h4 class="btn-warning services_hedd" id="4">
      <div class="container">W-7/ITIN </div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#f0ad4e;"></i> An Individual Taxpayer Identification Number (ITIN) is a tax processing number issued by the Internal Revenue Service. It is a nine-digit number that always begins with the number 9 and has a range of 70-88 in the fourth and fifth digit. Effective April 12, 2011, the range was extended to include 900-70-0000 through 999-88-9999, 900-90-0000 through 999-92-9999 and 900-94-0000 through 999-99-9999. IRS issues ITINs to individuals who are required to have a U.S. taxpayer identification number but who do not have, and are not eligible to obtain a Social Security Number (SSN) from the Social Security Administration (SSA).</li>
        <li> <i class="fa fa-check-square-o" style="color:#f0ad4e;"></i> ITINs are issued regardless of immigration status because both resident and nonresident aliens may have a U.S. filing or reporting requirement under the Internal Revenue Code.</li>
        <li> <i class="fa fa-check-square-o" style="color:#f0ad4e;"></i> Individuals must have a filing requirement and file a valid federal income tax return to receive an ITIN, unless they meet an exception.</li>
      </ul>
    </div>
    <h4 class="btn-primary  services_hedd" id="5">
      <div class="container">W-4</div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> What is a W-4 Form?</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Updated for Tax Year 2015</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> OVERVIEW</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Used by your employer to determine the amount of taxes to withhold from your paycheck, the W-4 Form can help you out at tax time. Here are the details.</li>
      </ul>
      <p>FOR MORE INFO YOU CAN CLICK HERE</p>
      <a href="https://www.irs.gov/Individuals/Individual-Taxpayer-Identification-Number-ITIN" target="_blank"> https://www.irs.gov/Individuals/Individual-Taxpayer-Identification-Number-ITIN </a>
      <p>SO IF CL CLIENT CLICK ON THAT IT SHOULD BE REDIRECTED TO IRS LINK</p>
    </div>
    <h4 class="btn-success services_hedd" id="6">
      <div class="container">FBAR </div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> Report of Foreign Bank and Financial Accounts (FBAR)</li>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> If you have a financial interest in or signature authority over a foreign financial account, including a bank account, brokerage account, mutual fund, trust, or other type of foreign financial account, exceeding certain thresholds, the Bank Secrecy Act may require you to report the account yearly to the Department of Treasury by electronically filing a Financial Crimes Enforcement Network (FinCEN) 114, Report of Foreign Bank and Financial Accounts (FBAR). See the ‘Who Must File an FBAR’ section below for additional criteria. (FBAR)</li>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> Which starts Filing from the month of July</li>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> The FBAR deadline for calendar year 2015 reports remains June 30, 2016 (with no extensions allowed).</li>
      </ul>
    </div>
    <h4 class="btn-warning services_hedd">
      <div class="container">FFA </div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#f0ad4e;"></i> U.S. Taxpayers Holding Foreign Financial Assets May Also Need to File Form 8938</li>
        <li> <i class="fa fa-check-square-o" style="color:#f0ad4e;"></i> Taxpayers with specified foreign financial assets that exceed certain thresholds must report those assets to the IRS on <a href="https://www.irs.gov/pub/irs-pdf/f8938.pdf" target="_blank">Form 8938</a>, Statement of Specified Foreign Financial Assets, which is filed with an income tax return. Those foreign financial assets could include foreign accounts reported on an FBAR. The Form 8938 filing requirement is in addition to the FBAR filing requirement. A chart providing a <a href="https://www.irs.gov/Businesses/Comparison-of-Form-8938-and-FBAR-Requirements" target="_blank">comparison of Form 8938 and FBAR requirements</a> may be accessed on the IRS <a href="https://www.irs.gov/Businesses/Corporations/Foreign-Account-Tax-Compliance-Act-FATCA" target="_blank">Foreign Account Tax Compliance Act Web page</a></li>
      </ul>
    </div>
    <h4 class="btn-info  services_hedd">
      <div class="container">BUSINESS </div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> CORPORATE</li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> PARTNERSHIP</li>
        <li> <i class="fa fa-check-square-o" style="color:#5bc0de;"></i> OTHER – EIN ETC…</li>
      </ul>
    </div>
    <h4 class="btn-primary  services_hedd">
      <div class="container">Corporate</div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Form 1120, U.S. Corporation Income Tax Return</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Domestic corporations use this form to:</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> report their income, gains, losses, deductions, credits, and</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> figure their income tax liability.</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> Form 1065 is an information return used to report the income, gains, losses, deductions, credits, etc., from the operation of a partnership. A partnership does not pay tax on its income but “passes through” any profits or losses to its partners.</li>
        <li> <i class="fa fa-check-square-o" style="color:#337ab7;"></i> For more info can we keep a PDF doc which should open in another Tab</li>
      </ul>
    </div>
    <h4 class="btn-success services_hedd">
      <div class="container">Partnership </div>
    </h4>
    <div class="container">
      <ul class="about_list">
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> Form 1065, U.S. Return of Partnership Income</li>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> Partnerships file an information return to report their income, gains, losses, deductions, credits, etc. A partnership does not pay tax on its income but “passes through” any profits or losses to its partners. Partners must include partnership items on their tax or information returns.</li>
        <li> <i class="fa fa-check-square-o" style="color:#5cb85c;"></i> For more info can we keep a PDF doc which should open in another Tab</li>
      </ul>
    </div>
  </div>
</div>
