  <div class="headerLine taxxenter_bg">
        
       
        
        <!-- <h1  class="mar_top">Tax Center</h1>
        <p class="banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit
quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget.
</p>        --> 
        </div>
        
        
       <div class="container">
        <div class="row">
        <h3 style="text-align:center;"><span class="hedd">Tax Center</span></h3><br><br>
            <p>Please make sure to have information like <strong>SSN</strong>,<strong>Filing Status</strong> and the <strong>Refund Amount.</strong></p>


<div class="row imgc">

    <div class="col-md-12">
       <h6><b>FEDERAL TAX REFUND STATUS</b>, Please click on below picture</h6>
        <a href="https://sa.www4.irs.gov/irfof/lang/en/irfofgetstatus.jsp" target="_blank"><img src="images/img1t.jpg" class="full-img">
    </a>


    </div>
    <div class="col-md-12">
        <h6><b>FEDERAL TAX DUE PAYMENT</b>, Please click on below picture</h6>
        <a href="https://www.eftps.gov/eftps/index.jsp" target="_blank">  <img src="images/eftp.jpg" class="full-img"></a></div>
   <!--  <div class="col-xs-4">
        <h6>REFUND</h6>
        <img src="images/img3t.jpg" class="full-img">
        <!-- <center> IT WILL COME IN TAX CENTER</center></div> 

</div> -->



        </div>

            <div class="row col-md-12 taxpayer bor-over">
                <span class="stateRefund" style="text-align: center;">State Refund Status</span>
            <ul class="adminGroup col-md-5">
               <!-- <li style="border:0;"></li>-->
                <li style="border:0;">
                    <select class="form-control" ng-init="selectedState = stateDetails[0]" ng-model="selectedState" ng-options="item.value for item in stateDetails" ng-change="viewPage(selectedState)">
                    <option value="select">SELECT</option>
                 </select>
                 </li>
                 </ul>
                <!-- <div  class="col-xs-4 bord_right">
                    <h4>AL</h4>
                    <a href="https://myalabamataxes.alabama.gov/_/#1" target="_blank">https://myalabamataxes.alabama.gov/_/#1</a>
                    <h4>AR</h4>
                    <a href="https://atap.arkansas.gov/_/#1" target="_blank">https://atap.arkansas.gov/_/#1</a>
                    <h4>AZ</h4>
                    <a href="https://www.aztaxes.gov/Home" target="_blank">https://www.aztaxes.gov/Home</a>
                    <h4>CA</h4>
                    <a href="https://www.ftb.ca.gov/online/refund/index.asp" target="_blank">https://www.ftb.ca.gov/online/refund/index.asp</a>
                    <h4>CO</h4>
                    <a href="https://www.colorado.gov/revenueonline/_/#2" target="_blank">https://www.colorado.gov/revenueonline/_/#2</a>
                    <h4>CT</h4>
                    <a href="www.ct.gov/drs/myrefund" target="_blank">www.ct.gov/drs/myrefund</a>
                    <h4>DE</h4>
                    <a href="https://dorweb.revenue.delaware.gov/scripts/refinq/refinq.dll" target="_blank">https://dorweb.revenue.delaware.gov/scripts/refinq/refinq.dll</a>
                    <h4>FL</h4>
                    <a href="https://taxapps.state.fl.us/Refunds/" target="_blank">https://taxapps.state.fl.us/Refunds/</a>
                    <h4>GA</h4>
                    <a href="https://gtc.dor.ga.gov/_/#1" target="_blank">https://gtc.dor.ga.gov/_/#1</a>
                    <h4>HI</h4>
                    <a href="https://tax.ehawaii.gov/hoihoi/refund.html" target="_blank">https://tax.ehawaii.gov/hoihoi/refund.html</a>
                    <h4>IA</h4>
                    <a href="https://www.idr.iowa.gov/wheresmyrefund/" target="_blank">https://www.idr.iowa.gov/wheresmyrefund/</a>
                    <h4>PA</h4>
                    <a href="https://www.doreservices.state.pa.us/pitservices/wheresmyrefund.aspx" target="_blank">https://www.doreservices.state.pa.us/pitservices/wheresmyrefund.aspx</a>




                </div>
                <div  class="col-xs-4 bord_right">

                    <h4>ID</h4>
                    <a href="https://idahotap.gentax.com/TAP/_/" target="_blank">https://idahotap.gentax.com/TAP/_/</a>
                    <h4>IL</h4>
                    <a href="https://www.revenue.state.il.us/app/refund/index.html" target="_blank">https://www.revenue.state.il.us/app/refund/index.html</a>
                    <h4>IN</h4>
                    <a href="https://secure.in.gov/apps/dor/tax/refund/" target="_blank">https://secure.in.gov/apps/dor/tax/refund/</a>
                    <h4>KS</h4>
                    <a href="https://www.kdor.org/refundstatus/default.asp" target="_blank">https://www.kdor.org/refundstatus/default.asp</a>
                    <h4>LA</h4>
                    <a href="https://esweb.revenue.louisiana.gov/wheresmyrefund/" target="_blank">https://esweb.revenue.louisiana.gov/wheresmyrefund/</a>
                    <h4>ME</h4>
                    <a href="https://portal.maine.gov/refundstatus/Registration.do;jsessionid=ede81f8754d50f0856586ac0f9904b3bba7df40ef2ffffea115761afbf73105c.e34Mb38PchyPbi0Lah90" target="_blank">https://portal.maine.gov/refundstatus/Registration.do;jsessionid=ede81f8754d50f0856586ac0f9904b3bba7df40ef2ffffea115761afbf73105c.e34Mb38PchyPbi0Lah90</a>
                    <h4>MD</h4>
                    <a href="https://interactive.marylandtaxes.com/INDIV/refundstatus/home.aspx" target="_blank">https://interactive.marylandtaxes.com/INDIV/refundstatus/home.aspx</a>
                    <h4>MA</h4>
                    <a href="https://wfb.dor.state.ma.us/webfile/wsi/" target="_blank">https://wfb.dor.state.ma.us/webfile/wsi/</a>
                    <h4>MI</h4>
                    <a href="http://www.michigan.gov/taxes/0,1607,7-238-43513-157514--,00.html" target="_blank">http://www.michigan.gov/taxes/0,1607,7-238-43513-157514--,00.html</a>
                    <h4>MN</h4>
                    <a href="https://www.mndor.state.mn.us/tp/refund/_/" target="_blank">https://www.mndor.state.mn.us/tp/refund/_/</a>
                    <h4>MS</h4>
                    <a href="www.dor.ms.gov/inquiry" target="_blank">www.dor.ms.gov/inquiry</a>

                </div>
                <div  class="col-xs-4">

                    <h4>MO</h4>
                    <a href="https://dors.mo.gov/tax/taxinq/welcome.jsp" target="_blank">https://dors.mo.gov/tax/taxinq/welcome.jsp</a>
                    <h4>MT</h4>
                    <a href="https://tap.dor.mt.gov/mt_xwTapRfn.aspx" target="_blank">https://tap.dor.mt.gov/mt_xwTapRfn.aspx</a>
                    <h4>NV</h4>
                    <a href="https://www.nevadatax.nv.gov/web/" target="_blank">https://www.nevadatax.nv.gov/web/</a>
                    <h4>NJ</h4>
                    <a href="https://www16.state.nj.us/TYTR_TGI_INQ/jsp/prompt.jsp" target="_blank">https://www16.state.nj.us/TYTR_TGI_INQ/jsp/prompt.jsp</a>
                    <h4>NM</h4>
                    <a href="http://www.tax.newmexico.gov/Individuals/individuals-where-is-my-refund.aspx" target="_blank">http://www.tax.newmexico.gov/Individuals/individuals-where-is-my-refund.aspx</a>
                    <h4>NY</h4>
                    <a href="https://www8.tax.ny.gov/PRIS/prisStart" target="_blank">https://www8.tax.ny.gov/PRIS/prisStart</a>
                    <h4>NC</h4>
                    <a href="https://eservices.dor.nc.gov/wheresmyrefund/SelectionServlet" target="_blank">https://eservices.dor.nc.gov/wheresmyrefund/SelectionServlet</a>
                    <h4>ND</h4>
                    <a href="https://apps.nd.gov/tax/tap/_/" target="_blank">https://apps.nd.gov/tax/tap/_/</a>
                    <h4>OH</h4>
                    <a href="http://www.tax.ohio.gov/ohio_individual/individual/filefaster.aspx" target="_blank">http://www.tax.ohio.gov/ohio_individual/individual/filefaster.aspx</a>
                    <h4>OK</h4>
                    <a href="http://www.ok.gov/tax/" target="_blank">http://www.ok.gov/tax/</a>
                    <h4>OR</h4>
                    <a href="https://secure.dor.state.or.us/refund/refund.cfm" target="_blank">https://secure.dor.state.or.us/refund/refund.cfm</a>


                </div> -->


            </div>
        </div>