<div id="topbar">
  <p>CONTACT US:<strong> Hello@umpiretaxsolutions.com</strong></p>
<!-- <a ui-sref="admin.user" >Admin</a> -->
  <div class="right_btns" >  <a  ng-if="!userExist" ng-click="OpenLogin()" class="login_btn"><i class="fa fa-lock"> </i> Login / Sign Up</a>
  <a ng-if="userExist" ng-click="goToDashboard()" class="login_btn"><i class="fa fa-lock"> </i> Go To Dashboard</a>
  <!-- <a class="ref_frnd" ng-click="referals()"><i class="fa fa-user"></i> Referal Program</a> -->
  <a class="ref_frnd" ui-sref="main.referalProgram"><i class="fa fa-user"></i> Refer a Friend</a>
  </div>
  <div class="alpha"></div>
</div>
<div class="header">
  <div class="col-md-5 pull-left">
  <a ui-sref="main.home"><img src="img/logo.png" class="logo1"></a><br>
  <div style="float: left;color: #f2f2f2;width:100%;">Enduring Solutions To The Taxing Problems</div>
  </div>
  <div class="nav2">
    <ul>
      <li class="banner"><a ng-class="{'active':current=='main.home'}" ui-sref="main.home">Home</a></li>
      <li class="banner"><a ng-class="{'active':current=='main.firmProfile'}" ui-sref="main.firmProfile">Firm Profile </a></li>
      <li class="banner" ><a ng-class="{'active':current=='main.Service'}" ui-sref="main.Service">Our Services</a>
         <!--  <ul >
            <li class="banner"><a ui-sref="main.Service">US Tax Services </a>
             
            </li>
             <li style="width:100%" id="its" class="banner"><a ui-sref="main.Service">Indian Tax Services</a>

               <ul >
                 <li class="banner"><a ui-sref="main.Service">22222 </a> </li>
                 <li style="width:100%" class="banner"><a ui-sref="main.Service">22222</a></li>
               </ul>

             </li>
          </ul> -->
      </li>
      <li><a ui-sref="main.tax_center" ng-class="{'active':current=='main.tax_center'}" >Tax Center</a></li>
      <li class="banner"><a ui-sref="main.carriers" ng-class="{'active':current=='main.carriers'}">Careers</a></li>
      <li class="banner"><a ng-class="{'active':current=='main.contactUs'}" ui-sref="main.contactUs">Contact Us</a></li>
    </ul>
  </div>
</div>

