<div class="right_content">
    <h1>Upload Your Tax Documents<span ng-if="editMode" class="btn btn-primay" ng-click="editProfile()">Edit</span></h1>
    <form ng-if="!editMode" name="uploadForm">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">W-2</label>
                    <input type="file" file-change ng-model="w_2"  class="form-control" id="email">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">1099 INT / DIV/ B / MISC<!-- 1099-int --></label>
                    <input type="file" file-change ng-model="p1099int"  class="form-control" id="email">
                </div>

            </div>


        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">HSA / 5498 <!-- Hsa --></label>
                    <input type="file" file-change  ng-model="Hsa" class="form-control" id="email">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">IRA / 1099-R <!-- Ira --></label>
                    <input type="file" file-change ng-model="Ira"  class="form-control" id="email">
                </div>

            </div>


        </div>


        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="email">Other Misc Docs<!-- Health Card --></label>
                    <input type="file" file-change  ng-model="health_card" class="form-control" id="email">
                </div>
            </div>
            


        </div>

        <div class="col-lg-12">

            <button style="margin-left:10px;"  ng-click="uploadDocuments()" class="btn btn-success pull-right" type="submit">SUBMIT</button>
            <button class="btn btn-warning  pull-right" type="reset">RESET</button>
        </div>
<!-- <p style="text-align: center">Note: Here User  should be able to Update the Basic Info</p> -->


    </form>

<div ng-if="editMode" class="col-md-12 taxpayer" >
  <ul class="adminGroup col-md-6">
   <li>w2</li>
   <li>{{x.hid_w_2}}</li>
</ul>
<ul class="adminGroup col-md-6">
   <li>healthcard</li>
   <li>{{x.hid_health_card}}</li>
</ul>
<ul class="adminGroup col-md-6">
   <li>hsa</li>
   <li>{{x.hid_Hsa}}</li>
</ul>
<ul class="adminGroup col-md-6">
   <li>ira</li>
    <li>{{x.hid_Ira}}</li>
</ul>
<ul class="adminGroup col-md-6">
   <li>1099Int</li>
    <li>{{x.hid_p1099int}}</li>
</ul>

</div>

    <!-- <div ng-if="editMode" class="col-md-12 taxpayer" >
  <ul class="adminGroup col-md-6">
   <li>w2</li>
   <li><a  download href="ustaxfilerapis{{file_path}}/{{uploads.w2pdf}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>healthcard</li>
   <li><a download href="ustaxfilerapis{{file_path}}/{{uploads.healthcard}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>hsa</li>
   <li><a download href="ustaxfilerapis{{file_path}}/{{uploads.hsa}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>ira</li>
   <li><a download href="ustaxfilerapis{{file_path}}/{{uploads.ira}}">Download</a></li>
</ul>
<ul class="adminGroup col-md-6">
   <li>1099Int</li>
   <li><a download href="ustaxfilerapis{{file_path}}/{{uploads.p1099Int}}">Download</a></li>
</ul>

</div> -->
</div>